.home{
    width: 50%;
    /* max-width: 700px; */
    margin: auto;
}
@media screen and (max-width:1024px) {
    .home{
        width: 90%;
    }
}

@media screen and (max-width:512px) {
    .home{
        width: 100%;
    }
}